@import "../constants.scss";

.Email-Wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Email-Label {
    font-weight: bold;
    margin-bottom: 5px;
    @include fieldsFont;
} 

.Email-Input {
    line-height: 40px;
    border: 2px solid $borderColor;
    border-radius: 4px;
    width: 270px;
    @include fieldsFont;
    &:focus {
        border: 3px solid $borderColor;
    }
}

.invalid-Email-Input {
    border: 2px solid $warningColor;
}

.error-Message {
    color: $warningColor;
    @include fieldsFont;
}