@import "../constants.scss";

.Email-Wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0 0;
}

.Email-Label {
    font-weight: bold;
    margin-bottom: 5px;
    @include fieldsFont;
} 

.Email-Input {
    @include textFieldInput;
}

.invalid-Email-Input {
    border: 2px solid $warningColor;
}

.error-Message {
    color: $warningColor;
    @include fieldsFont;
}