@import "../constants.scss";

.Email-Wrapper {
  margin: 20px 0;
}

.Email-Label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  @include fieldsFont;
}

.Email-Input {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5em;
  border: 1px solid #0747a6;
  border-radius: 0.2em;
  @include fieldsFont;

  &:focus {
    border: 3px solid $borderColor;
  }
}

.invalid-Email-Input {
  border: 2px solid $warningColor;
}

.error-Message {
  color: $warningColor;
  @include fieldsFont;
}