.gender__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 10px; 

  .label {
    height: 70px;
    margin-bottom: 20px;

    .radio__title {
      font-size: 1em;
      font-weight: 700;
      margin-bottom: 5px;
    }

    .radio__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      .radio__items {
        display: flex;
      }
      
      .radio__item {
        display: flex;
        align-items: center;
        margin-right: 20px;
      }

      .radio__inner {
        margin-right: 10px;
      }

      .radio__text {
        font-size: 1.2em;
        font-weight: 700;
      }
    }
  }

  .button {
    width: 300px;
    padding: 20px 30px;
    border: none;
    border-radius: 2px;
    color: #fff;
    background: rgb(64, 102, 128);
  }
}

