* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.burger-btn {
    position: relative;
    width: 30px;
    height: 30px;
    margin-left: 20px;
    border-radius: 4px;
    cursor: pointer;
}

.burger-btn:hover {
    background: rgb(86, 75, 238);
}

.burger-btn:before {
    content: '';
    position: absolute;
    top: 7px;
    width: 20px;
    height: 2px;
    transform: translate(-10px);
    background-color: black;
}

.burger-btn span {
    content: '';
    position: absolute;
    top: 50%;
    width: 20px;
    height: 2px;
    transform: translate(-10px, -50%);
    background-color: black;
}

.burger-btn:after {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 20px;
    height: 2px;
    transform: translate(-10px);
    background-color: black;
}

.menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 50px;
    left: 0;
}

.blur {
    position: absolute;
    left: 150px;
    width: 100vw;
    height: 100vh;
    backdrop-filter: none;
    transition: .2s;
}

.blur.active {
    backdrop-filter: blur(2px);
}

.menu__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    height: 100%;
    background-color: gray;
    transition: .2s;
}

.menu__content.active {
    width: 150px;
    transition: .2s;
}

.menu__text {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    opacity: 0;
    transition: opacity .1s;
}

.menu__text.active {
    opacity: 1;
    transition: opacity .5s;
}

.menu__text:hover {
    color: rgb(86, 75, 238);
}

ul {
    text-align: left;
}

.menu__item {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-bottom: 10px;
}

.image__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2.5em;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s;
}

.image__wrapper.active {
    //transform: translate(45px);
    transition: .2s;
}

.image__wrapper:hover {
    background: rgb(86, 75, 238);
}

.image {
    width: 1.5em;
    height: 1.5em;
}



@media screen and (max-width: 540px) {
    .menu__content {
        width: 100%;
    }
    .blur {
        backdrop-filter: none;
    }
}