@import "../constants.scss";

.password {
  margin: 20px 0 0;
}

.passwordLabel {
  display: block;
  @include fieldsFont;
  margin: 5px 0;
  font-weight: bold;
}

.passwordInput {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5em;
  border: 2px solid $borderColor;
  border-radius: 0.2em;
  @include fieldsFont;

  &:focus {
    border: 2px solid $borderColor;
  }
}

.image {
  display: inline-block;
  position: relative;
  margin-bottom: -0.5em;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-left: -2em;
}

.errorInput {
  border: 2px solid $warningColor;
  color: $warningColor;
}

.error {
  color: $warningColor;
  display: block;
  margin-top: 0.5em;
  font-weight: normal;
}