.password {
  margin: 20px 0;
}

.passwordLabel {
  display: block;
  font-weight: bold;
  margin: 5px 0;
}

.passwordInput {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5em;
  border: 1px solid #0747a6;
  border-radius: 0.2em;
}

.image {
  display: inline-block;
  position: relative;
  margin-bottom: -0.5em;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-left: -2em;
}

.errorInput {
  border-color: red;
  color: red;
}

.error {
  color: red;
  display: block;
  margin-top: 0.5em;
}